
html{
    font-size: 16px;
}

body{

    background: var(--clr-main-bg);
    /* display: flex; Permite alinear de manera flexible los textos */
    display: grid;
    font-family: var(--ff-secondary);
    margin: 0;
    padding: 0;
}